/* FAQ Section --------------------------|CSS|-------------------------- Start */

.spinx-connect h3.spinx-acco-title,
.spinx-connect h4 {
    font-family: Poppins, sans-serif;
    text-transform: uppercase
}

.spinx-connect {
    color: #000;
    display: block;
    float: right;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 26px;
    position: relative;
    width: 100%;
    margin: 40px 0 0
}

.spinx-connect:before {
    background: #76ca89;
    content: "";
    position: absolute;
    top: 32px;
    bottom: -8px;
    left: 34px;
    width: 1px;
    z-index: 0
}

.spinx-connect:after {
    background: url('../../final_front_assets/connect-arrow.png') no-repeat;
    content: "";
    position: absolute;
    bottom: -48px;
    left: 15px;
    height: 27px;
    width: 40px;
    z-index: 0
}

.spinx-connect .spinx-acco-content {
    display: none;
    overflow: hidden;
    padding: 15px 0 10px 100px;
    width: 100%
}

.spinx-connect h3.spinx-acco-title {
    cursor: pointer;
    color: #9d9d9d;
    font-size: 24px;
    line-height: 55px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

.spinx-connect h3.spinx-acco-title.current {
    line-height: 69px;
    color: #76ca89;
    font-size: 36px
}

.spinx-connect h3.spinx-acco-title i {
    border-radius: 100%;
    display: block;
    float: left;
    margin-right: 30px;
    position: relative;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    height: 55px;
    width: 69px;
    z-index: 99
}

.spinx-connect h3.spinx-acco-title i:after,
.spinx-connect h3.spinx-acco-title i:before {
    content: "";
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.spinx-connect h3.spinx-acco-title i:after {
    background: #9d9d9d;
    border-radius: 100%;
    height: 11px;
    width: 11px
}

.spinx-connect h3.spinx-acco-title.current i {
    background: #a2f0b3;
    height: 69px
}

.spinx-connect h3.spinx-acco-title.current i:before {
    background: url('../../final_front_assets/connect-arrow.png') -62px 0 no-repeat;
    z-index: 9;
    height: 28px;
    width: 32px
}

.spinx-connect h4 {
    color: #000;
    font-size: 16px;
    line-height: normal;
    margin: 0 0 15px
}

.spinx-connect p {
    margin-bottom: 20px
}

.accordion-button {
    font-weight: 600;
    text-transform: uppercase;
    color: #1b1b1b;
    background-color: transparent;
    font-family: Nunito, sans-serif
}

.accordion-item {
    border: none;
    border-top: 1px solid #919191 !important;
    border-radius: 0;
    background-color: transparent
}

.accordion-button:focus {
    color: #1b1b1b;
    box-shadow: none
}

.accordion-button:not(.collapsed) {
    color: #34a589;
    background-color: transparent;
    box-shadow: none
}

.accordion-item:first-of-type,
.accordion-item:last-of-type,
.accordion-item:last-of-type .accordion-collapse {
    border-radius: 0
}

.accordion-collapse{
    background-color: #b6fac5;
}

.accordion-header button.accordion-button {
    font-size: 30px;
    padding: 25px 0
}

.accordion-header button.accordion-button span {
    width: 100px;
    font-size: 20px
}

.accordion-body {
    font-size: 15px;
    letter-spacing: 1px;
    padding-left: 100px;
    padding-bottom: 40px
}

.faq_section .faq_section_heading {
    font-size: 2.5rem;
    position: relative
}

.faq_section .faq_section_heading::after {
    content: '';
    width: 10%;
    height: 1px;
    background: #888;
    bottom: -5px;
    position: absolute;
    left: 45%
}

/* FAQ Section --------------------------|CSS|-------------------------- End */
