@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

.service_card .cards {
    cursor: pointer;
}

.service_card .card-body {
    color: #fff;
    /* color: #000; */
    background-color: #8a6d46;
}

.service_card .ui.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}

.service_card .ui.cards .card {
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
    border-radius: 5px;
    background: transparent;
}

.service_card .ui.cards .content_color {
    background: transparent;
}

/* .content_color{
    background:#8a6d46 !important;
} */

.card_bg {
    background: green !important;
}

.service_preview {
    border: 2px solid #8a6d46;
    padding: 30px;
}

.service_card .cards .header {
    font-size: 25px !important;
    font-weight: 500 !important;
    letter-spacing: 1px !important;
    font-family: 'Kalam', cursive !important;
}

.service_card .cards .content {
    color: #000;
    background: transparent;
}

.service_card .cards .meta span {
    font-size: 15px;
    letter-spacing: .5px;
}

/* ------------------------------------------------------------------------ */
.child_box {
    width: 100%;
    border: 1px solid #ddd;
    padding: 18px;
    text-align: center;
    margin: 15px 0;
    cursor: pointer;
}

.child_box h4 {
    font-size: 16px;
    margin: 0;
}

.child_box_sub {
    text-transform: capitalize;
}

/* ------------------------------------------------------------------------ */

.service_One .heading_area h3 {
    padding: 20px 0;
    font-size: 20px;
    line-height: 45px;
}

.service_card .cards .card:hover {
    transition: .5s ease-in;
    z-index: 99999;
    transform: scale(1.08);
    padding: 15px;
    outline: 1px solid;
    background: #fff !important;
}

.service_card .cards .card:hover .content {
    padding: 0;
}

.service_card .cards .read_area {
    display: none;
}

.service_card .cards:hover .read_area {
    display: block;
    position: absolute;
    bottom: 0;
    left: 25%;
}



/* New Service Area || 27 Sep, 2022 || St */

#service_col_main{
    /* cursor: none; */
    padding-bottom: 25px;
}

#service_col_one {
    background: #D8DBE1;
    /* border-right: 2px solid #a8a9ad; */
}

#service_col_one div.service_col_one_1{
    width: 90%;
    margin-bottom: 15px;
}

#service_col_one div.service_col_one_1 input {
    background: transparent;
    border: 1px solid #777c85;
}


#service_col_one div.service_col_one_2{
    /* box-shadow: 3px 3px 6px #a8a9ad, -3px -3px 6px #cecaca; */
    height: 70vh;
    width: 90%;
    overflow: auto;
    /* box-shadow: inset 3px 3px 6px #a2a3ab, inset -3px -3px 6px #ffffff; */
    border-right: 1px solid #fff;
}

#service_col_one div.service_col_one_2::-webkit-scrollbar {
    width: 5px;
}

#service_col_one div.service_col_one_2::-webkit-scrollbar-track {
    background: transparent;
    max-height: 100px;
    height: 100px;
}

#service_col_two {
    /* background-color: green; */
    /* height: 75vh; */
    padding: 0;
    margin: 0;
    padding-right: 30px;
    /* overflow: scroll; */
    /* cursor: url('http://127.0.0.1:8000/final_front_assets/cursor.png'), auto; */
}
#service_col_two .list_item_info{
    overflow: hidden;
}

#service_col_two::-webkit-scrollbar {
    display: none;
}

#service_col_two .sct_heading{
    padding: 110px 15px 15px !important;
    margin-top: -100px;
    border-bottom: 1px solid #fff;
    background: #d8dbe1;
    z-index: 1;
}

#service_col_two .sct_content{
    /* height: 60vh; */
    padding: 15px;
}

#service_col_two .sct_content p{
    font-size: 14px;
}

#service_col_three div.service_col_three_main{
    border: 1px solid #fff;
    background: #D8DBE1;
    /* height: 75vh; */
}
#service_col_three div.service_col_three_main .col{
    text-align: center;
    padding: 10px;
    /* border: 1px solid #fff; */
    box-shadow: 7px 7.5px 7.5px -1px #aeb2b9;
    cursor: pointer;
    text-transform: uppercase;
}

#service_col_three div.service_col_three_main .col:last-child{
    box-shadow: 0 7.5px 7.5px -1px #aeb2b9;
}

#service_col_three div.service_col_three_main #card_badge .col:hover{
    background-color: green;
}

#service_col_three div.service_col_three_main #card_badge .col.active{
    border-bottom: 3px solid #00b900;
}

#service_col_three div.service_col_three_main #card_info{

}

#service_col_three div.service_col_three_main #card_info .card_info_heading{
    font-weight: 600;
}



/* service_col_one || UL || Li */
#service_col_one ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#service_col_one ul li {
    font-weight: 600;
    cursor: pointer;
    padding: 10px 10px;
    margin: 18px 30px 10px 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #D8DBE1;
    box-shadow: 3px 3px 6px #a8a9ad, -3px -3px 6px #cecaca;
    /* box-shadow: inset 3px 3px 6px #a2a3ab, inset -3px -3px 6px #ffffff; */
}
#service_col_one ul li a{color: #000;}
#service_col_one ul li.grp_one {
    border-right: 3px solid red;
}

#service_col_one ul li.grp_two {
    border-right: 3px solid green;
}

#service_col_one ul li.grp_three {
    border-right: 3px solid blue;
}

#service_col_one ul li.grp_four {
    border-right: 3px solid yellow;
}

#service_col_one ul li:hover {
    /* background-color: #568eff; */
    box-shadow: 3px 3px 6px #a8a9ad, -3px -3px 6px #cecaca;

}


/* service_col_one || UL || Li */

/* Cusror || Start */

/* Cusror || End */

/* Section Part || Start */

/* Section needs to be relative so scrolling is possible*/
section.section_part {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #D8DBE1;
  }


  /* section.section_part:nth-of-type(2) {
    background-color: #c587ae;
  } */
  /* section.section_part:nth-of-type(3) {
    background-color: #f5b8c7;
  } */
  section.section_part:nth-of-type(4) {
    background-color: #fdcdbe;
  }
  /* set the of the first div to fixed */
  #text1 {
    position: fixed;
  }
  /* Make sure that the div contents remain centered so when the fixed position is applied, the alignment doesn't go out of whack*/
  section.section_part section {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

/* Section Part || End */



/* #testing .section
{
    height: 20vh;
} */

#menu li.active{
    background: rgba(0,0,0, 0.5);
    box-shadow: none;
    color: #fff !important;
}
#menu li.active a{color: #fff;}


.service_one_fixed{
    position: fixed;
    top: 150px;
    left: 15.5%;
    width: 17%;
}

.service_two_fixed{
    width: 50%;
    left: 24%;
    position: sticky;
}

.service_three_fixed{
    position: fixed;
    top: 150px;
    right: 15.5%;
    width: 18%;
}

.sct_heading_fixed{
    position: fixed;
    top: 15vh;
    width: 40%;
}


/* Service Slider || Start */

.slider {
    margin: 0 auto;
    max-width: 640px;
  }

  .slide_viewer {
    height: 384px;
    overflow: hidden;
    position: relative;
  }

  .slide img{
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .slide_group {
    height: 100%;
    position: relative;
    width: 100%;
  }

  .slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .slide:first-child {
    display: block;
  }

  .slide:nth-of-type(1) {
    background: #D7A151;
  }

  .slide:nth-of-type(2) {
    background: #F4E4CD;
  }

  .slide:nth-of-type(3) {
    background: #C75534;
  }

  .slide:nth-of-type(4) {
    background: #D1D1D4;
  }

  .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }

  a.slide_btn {
    color: #474544;
    font-size: 20px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
  }

  .directional_nav {
    margin: 0 auto;
    max-width: 740px;
    position: relative;
    top: -180px;
  }

  .previous_btn {
    bottom: 0;
    left: 20px;
    margin: auto;
    position: absolute;
    top: 0;
  }

  .next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 20px;
    top: 0;
  }

  .previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
  }

  .previous_btn:hover, .next_btn:hover {
    opacity: 1;
  }

  @media only screen and (max-width: 767px) {
    .previous_btn {
      left: 50px;
    }
    .next_btn {
      right: 50px;
    }
  }
/* Service Slider || End */
