@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

.service_card .cards{cursor: pointer;}
.service_card .card-body {
    color: #fff;
    background-color: #8a6d46;
}

.service_card .ui.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}

.content_color{
    background:#8a6d46 !important;
}

.card_bg{
    background: green !important;
}

.service_preview{
    border: 2px solid #8a6d46;
    padding: 30px;
}

.service_card .cards .header{
    font-size: 25px !important;
    font-weight: 500 !important;
    letter-spacing: 1px !important;
    font-family: 'Kalam', cursive !important;
}

.service_card .cards .meta span
{
    font-size: 15px;
    letter-spacing: .5px;
}
